{{define "try"}}
<div
  class="p-2 text-white rounded w-full max-w-6xl mx-auto flex flex-col items-center justify-center"
  id="demo"
>
  <h2
    class="mb-4 text-4xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-[#673ab7] to-[#e91e63]"
  >
    Native Bitcoin API
  </h2>
  <h2 class="text-center mb-4 px-4 text-2xl">
    For Building Programmable HTML Inscriptions
  </h2>

  <div className="w-1/2">
    <p class="p-4 text-xl text-[#aaa] max-w-2xl">
      Bitcoin-native endpoints allow access to other inscriptions and blockchain
      data from within your code. You can reference JavaScript files, images,
      and even other HTML inscriptions. You can also access blockchain data such
      as transaction data, block data, and more!
    </p>
  </div>

  <div class="md:w-1/2">
    <ul>
      <li class="text-[#aaa] my-4">Access inscriptions across chains</li>
      <li class="api-item">/{inscriptionId}</li>
      <li class="text-[#aaa] my-4">Preview your code before broadcasting</li>
      <li class="api-item">/preview/{b64Html}</li>
      <li class="text-[#aaa] my-4">
        Get blockchain info. Network can be 'bsv' or 'btc'
      </li>
      <li class="api-item">/v1/{network}/block/latest</li>
      <li class="api-item">/v1/{network}/block/hash/{blockHash}</li>
      <li class="api-item">/v1/{network}/block/height/{blockHeight}</li>
      <li class="text-[#aaa] my-4">
        Compatible with BTC recursive inscriptions
      </li>
      <li class="api-item">/content/{inscriptionId}</li>
    </ul>
  </div>

  <div class="text-[#aaa] max-w-2xl bg-[#111] p-4 flex flex-col my-8">
    This demo uses the preview endpoint to render inscription references in your
    code. When you're ready, use a minter like 1satordinals.com to inscribe your
    HTML to the blockchain.
    <button
      class="hover:bg-purple-800 transition my-8 font-bold cursor-pointer text-2xl bg-purple-600 text-white p-2 rounded-md hover:text-emerald-300"
      onclick="tryItOut()"
    >
      <h1>Live Demo</h1>
    </button>
  </div>
</div>
{{end}}
